/** css for index.html file **/

html, body {
    height: 100%;
}

body {
    background-color: white;
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
}

header {
    margin: auto;
    margin-bottom: 0px;
    width: 960px;
    
}

#titleName {
    background-color: black;
    margin-left: 0%;
    margin-bottom: 0%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    color: whitesmoke;
    font-size: 30px;
    display: block;
}

.navBarRight {
    display: inline;
    background-color: white;
    font-size: 20px;
    color: grey;
    padding-top: 20px;
    padding-right: 5px;
    margin-bottom: 0%;
    float: right;
}

.container {
    clear: both;
    margin: auto;
    width: 100%;
    background: url("../images/background2.png");
    border-top: 2px solid black;
    border-bottom: 5px solid teal;
    padding-top: 25px;
    padding-bottom: 75px;
    flex: 1 0 auto;
}

.innerContainer {
    margin: auto;
    width: 960px;
    background: white;
    border: 2px solid black;
    overflow: auto;
}

#containerTitle {
    padding-left: 15px;
}

#indexPic {
    float: left;
}

#aboutMePara, #indexPic {
    padding: 15px;
}

footer {
    background: grey;
    width: 100%;
    flex-shrink: 0;
}

.footerText {
    padding-top: 30px;
    text-align: center
}
 
#contactName {
    padding-left: 15px;
    margin-bottom: 10px;
}

#myText {
    margin-left: 15px;
    width: 930px;
}
#contactEmail {
    margin-left: 15px;
    margin-right: 15px:
}

.innerContactLine {
    margin-left: 15px;
    margin-right: 20px;
}


#contactEmail {
    padding-left: 15px;
}

#contactMessage {
    padding-left: 15px;
}

#myTextMessage {
    margin-left: 15px;
    width: 930px;
    height: 100px;
}

#contactSubmitBtn {
    padding-left: 15px;
}

label {
    margin: 15px;
}

input[type=text], select, textarea {
    width: 900px;
    margin: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: black;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 150px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

.portPics {
    float: left;
    padding: 25px;
    width: 300px;
    height: 300px;
  }

#portPic0Div, #portPic1Div, #portPic2Div, #portPic3Div, #portPic4Div, #portPic5Div {
    position: relative;
}

#portPic0Descr, #portPic1Descr, #portPic2Descr, #portPic3Descr, #portPic4Descr, #portPic5Descr {
    position: absolute;
    background-color: black;
    color: white;
    bottom: 125px;
    width: 300px;
    text-align: center;
    }

#portPic0 {
      width: 300px;
      height: 300px;
}

#portPic1 {
    width: 300px;
    height: 300px;
}

#portPic2 {
    width: 300px;
    height: 300px;
}

#portPic3 {
    width: 300px;
    height: 300px;
}

#portPic4 {
  width: 300px;
  height: 300px;
}

#portPic5 {
  width: 300px;
  height: 300px;
}

  #emailDirect {
    padding-left: 15px; padding-right: 20px;
}
@media (max-width: 980px) {
    header {
        width: 100%;
            }
    .innerContainer {
        width: 700px;
        float: left;
        margin-left: 5%;
    }        
    #titleName {
        margin-left: 5%;
    }
    .navBarRight {
        margin-right: 5%;
        float: right;
    }    
}

@media (max-width: 768px) {
    header {
        width: 100%;
            }
    #titleName {
        margin-left: 5%;
            }
        
    .navBarRight {
        float: right;
            }        
    .innerContainer {
        width: 90%;
        float: center;
    }       
    .portPics {
        float: left;
        margin: 15px;
        width: 250px;
        height: 250px;
      }

}

@media (max-width: 640px) {
    header {
        width: 100%;
    }
    .innerContainer {
        width: 90%;
        float: center;
        margin-left: 5%;
    }        
    #titleName {
        width: 100%;
        margin: 0%;
        display: block;
        text-align: center;
    }

    .navBarRight {
        width: 100%;
        margin: 0%;
        display: block;
        text-align: center;
    }
}
